.main {
  &__parallaximg1,
  &__parallaximg2 {
    height: 30vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}
